---
layout: page
title: Research
permalink: /research/
---

{% for post in site.research %}
<div class=research-post>
  <h2>
    {% if post.excerpt_only == false %}
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    {% else %}
      {{ post.title }}
    {% endif %}
  </h2>
  
  <div class="research-post-lead-in"
    {{ post.excerpt }}
    {% if post.excerpt_only == false %}
        <div style="text-align:right;">
          <a href="{{ post.url }}" style="color:#000;"> Read More </a>
        </div>
    {% endif %}
     
  </div>
</div>
{% endfor %}