<header class="header">
	<div class="header-container">
		<div class="title">
			<a href="/"> <img height=64px src="/assets/images/logo.png"> </a> 
		</div>
		<br>
		<div class="nav">
			<span class="exclamationMark">
				{% for sitePage in site.pages %}
					{% if sitePage.title %}
						{% unless sitePage.show_in_nav == false %}
							<li><a class="page-link"
							href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a></li>
						{% endunless %}
					{% endif %}
				{% endfor %}
			</span>			
		</div>		
	</div>
</header>
