
<style>

</style>

<header class="header">
	<div class="header-container">
		<div class="title">
			<a href="/"> <img height=64px src="/assets/images/logo.png"> </a> 
			<div class="nav">
				<span class="exclamationMark">
					<li><a class="page-link" href="{{ site.baseurl }}/about">about</a></li>
					<li><a class="page-link" href="{{ site.baseurl }}/people">people</a></li>
					<li><a class="page-link" href="{{ site.baseurl }}/research">research</a></li>
				</span>			
			</div>		
		</div>
	</div>
</header>
